@model BAL.ViewModels.WebsiteInfoViewModel

@{
    Layout = null;
    ViewData["Title"] = Model != null ? "Edit" : "Create";
}

<h1>@ViewData["Title"] Website Details</h1>

<div>
    <a href="javascript:void(0)" onclick="BackToWebsiteList('');"><customicon type="back" title="Back to Websites"></customicon></a>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <form id="frmWebsiteForm" asp-action="@ViewData["Title"]" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group text-right">
                <input type="button" value="Submit" onclick="SaveWebsiteDetails();" class="btn btn-primary" /> |
                <a href="javascript:void(0)" onclick="BackToWebsiteList('');" class="btn btn-secondary">Cancel</a>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span class="text-danger font-weight-bold">@ViewBag.Message</span>
            <div class="form-group">
                <input type="hidden" asp-for="WebsiteID" />
                <label asp-for="WebsiteName" class="control-label font-weight-bold"></label>
                <input asp-for="WebsiteName" class="form-control" />
                <span asp-validation-for="WebsiteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteBannerTitle" class="control-label font-weight-bold"></label>
                <input asp-for="WebsiteBannerTitle" class="form-control" asp-placeholder-for="WebsiteBannerTitle" />
                <span asp-validation-for="WebsiteBannerTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WebsiteBannerTagLine" class="control-label font-weight-bold"></label>
                <input asp-for="WebsiteBannerTagLine" class="form-control" />
                <span asp-validation-for="WebsiteBannerTagLine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyName" class="control-label font-weight-bold"></label>
                <input asp-for="CompanyName" class="form-control" />
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyDesc" class="control-label font-weight-bold"></label>
                <textarea asp-for="CompanyDesc" class="form-control" rows="6"></textarea>
                <span asp-validation-for="CompanyDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactEmailID" class="control-label font-weight-bold"></label>
                <input asp-for="ContactEmailID" class="form-control" />
                <span asp-validation-for="ContactEmailID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cell" class="control-label font-weight-bold"></label>
                <input asp-for="Cell" class="form-control"  />
                <span asp-validation-for="Cell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OfficePhone" class="control-label font-weight-bold"></label>
                <input asp-for="OfficePhone" class="form-control" />
                <span asp-validation-for="OfficePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fax" class="control-label font-weight-bold"></label>
                <input asp-for="Fax" class="form-control" />
                <span asp-validation-for="Fax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DevelopedBy" class="control-label font-weight-bold"></label>
                <input asp-for="DevelopedBy" class="form-control" />
                <span asp-validation-for="DevelopedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label font-weight-bold"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AddressMap" class="control-label font-weight-bold"></label>
                <textarea asp-for="AddressMap" class="form-control" rows="5"></textarea>
                <span asp-validation-for="AddressMap" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpanelUser" class="control-label"></label>
                <input asp-for="CpanelUser" class="form-control" />
                <span asp-validation-for="CpanelUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CpanelPassword" class="control-label"></label>
                <input asp-for="CpanelPassword" class="form-control" />
                <span asp-validation-for="CpanelPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FTPUser" class="control-label"></label>
                <input asp-for="FTPUser" class="form-control" />
                <span asp-validation-for="FTPUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FTPPassword" class="control-label"></label>
                <input asp-for="FTPPassword" class="form-control" />
                <span asp-validation-for="FTPPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DBUser" class="control-label"></label>
                <input asp-for="DBUser" class="form-control" />
                <span asp-validation-for="DBUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DBPassword" class="control-label"></label>
                <input asp-for="DBPassword" class="form-control" />
                <span asp-validation-for="DBPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminUser" class="control-label"></label>
                <input asp-for="AdminUser" class="form-control" />
                <span asp-validation-for="AdminUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminPassword" class="control-label"></label>
                <input asp-for="AdminPassword" class="form-control" />
                <span asp-validation-for="AdminPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DomainRenewDate" class="control-label"></label>
                <input asp-for="DomainRenewDate" class="form-control" />
                <span asp-validation-for="DomainRenewDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostingRenewDate" class="control-label"></label>
                <input asp-for="HostingRenewDate" class="form-control" />
                <span asp-validation-for="HostingRenewDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostingProviderName" class="control-label"></label>
                <input asp-for="HostingProviderName" class="form-control" />
                <span asp-validation-for="HostingProviderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostingProviderDesc" class="control-label"></label>
                <input asp-for="HostingProviderDesc" class="form-control" />
                <span asp-validation-for="HostingProviderDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HostingProviderContactNo" class="control-label"></label>
                <input asp-for="HostingProviderContactNo" class="form-control" />
                <span asp-validation-for="HostingProviderContactNo" class="text-danger"></span>
            </div>
            <div class="form-group text-right">
                <input type="button" value="Submit" onclick="SaveWebsiteDetails();" class="btn btn-primary" /> |
                <a href="javascript:void(0)" onclick="BackToWebsiteList('');" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a href="javascript:void(0)" onclick="BackToWebsiteList('');"><customicon type="back" title="Back to Websites"></customicon></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
