

@model IEnumerable<BAL.ViewModels.WebsiteInfoViewModel>

@{
    ViewData["Title"] = "Websites";
}
<h1>All Websites</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (ViewBag.Message != null)
{
    <div id="successMessage">
        <code class="@ViewBag.Class font-weight-bold">@ViewBag.Message</code>
    </div>
}

<div class="form-actions no-color">
    <p>
        Find Website: <input type="text" maxlength="500" id="searchText" name="search" value="@ViewData["currentFilter"]" />
        <input type="button" value="Search" class="btn btn-secondary" id="btnSearch" /> |
        <a id="lnkSearch" href="javascript:void(0);">Show All</a>
    </p>
</div>
<div id="loading-image" class="text-center">
    <img src="~/img/loader.gif" />
</div>

<div id="websitesResult"></div>

@section scripts {
    <script src="~/js/jquery-3.5.1.js" asp-append-version="true"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            // Set Search Text Box Focus on Page Load
            $('#searchText').focus();

            // Bind the Websites List on Page Load
            loadTable();

            $('#btnSearch').click(function () {
                loadTable();
            });

            $('#lnkSearch').click(function () {
                $('#searchText').val('');
                loadTable();
            });

            $("#searchText").keyup(function (event) {
                if(getIntKey(event) == 13) {
                    $("#btnSearch").click();
                }
            });
        });

        // Enter Key Code check with Null Value
        function getIntKey(key) {
            var keycode;
            if (key == null) { keycode = event.keyCode; } else { keycode = key.keyCode; }
            return keycode;
        }

        // Hide Alert Message Div Automatically After 5 Secs
        $(function () {            
            //setTimeout(function () { $("#successMessage").hide('blind', {}, 500) }, 5000);
            $('#successMessage').delay(5000).fadeOut('slow');
        });

        // Load Websites List Table
        function loadTable() {
            $('#websitesResult').hide();
            $('#loading-image').show();
            var searchText = $('#searchText').val();
            $.ajax({
                type: 'GET',
                url: '/websites/search?search=' + searchText,
                success: function (result) {
                    $('#websitesResult').html(result);
                },
                complete: function () {
                    $('#loading-image').hide();
                    $('#websitesResult').show();
                }
            });
        }
    </script>
}