@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="@BAL.Common.WEBSITEPATH/subcategory/index/@ViewBag.CategoryID"><customicon type="back" title="Back to Sub Categories"></customicon></a> |
    <a href="@BAL.Common.WEBSITEPATH/subcatgallery/create/@ViewBag.SubCategoryID/@ViewBag.CategoryID"><customicon type="add" title="Create New Sub Category Gallery"></customicon></a>
</p>

<div id="loading-image" class="text-center">
    <img src="~/img/loader.gif" />
</div>

<div id="divSubCatGalList"></div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            // Bind the Sub Cat Gallery List on Page Load
            LoadSubCatGalList();
        });

        // Load Sub Cat Gallery List Table
        function LoadSubCatGalList() {
            // Listing Table Hide till loading...
            $('#divSubCatGalList').hide();

            // Loader Show till Listing Table loading...
            $('#loading-image').show();

            // Ajax Call
            $.ajax({
                type: 'GET',
                url: '/subcatgallery/bindlist?id=' + @ViewBag.SubCategoryID + '&catid='+ @ViewBag.CategoryID,
                success: function (result) {
                    $('#divSubCatGalList').html(result);
                    $('#divSubCatGalList').show();
                    $('#loading-image').hide();
                    $('#successMessage').delay(5000).fadeOut('slow');
                }
            });
        }

        // Set Image as the Default Image
        function SetDefaultImage(subcatgalid, subcatid, catid) {
            // Listing Table Hide till loading...
            $('#divSubCatGalList').hide();

            // Loader Show till Listing Table loading...
            $('#loading-image').show();

            // Ajax Call
            $.ajax({
                type: 'GET',
                url: '/subcatgallery/SetDefaultImage?id=' + subcatgalid + '&subcatid=' + subcatid + '&catid=' + catid,
                success: function (result) {
                    $('#divSubCatGalList').html(result);
                    $('#divSubCatGalList').show();
                    $('#loading-image').hide();
                }
            });
        }

        // Delete All Sub Category Gallery Images
        function DeleteAllImages(subcatid)
        {
            if (confirm('Do you want to delete all images?'))
            {
                // Listing Table Hide till loading...
                $('#divSubCatGalList').hide();

                // Loader Show till Listing Table loading...
                $('#loading-image').show();

                // Ajax Call
                $.ajax({
                    type: 'GET',
                    url: '/subcategory/DeleteAllSubCatGallery?id=' + subcatid,
                    success: function (result) {
                        LoadSubCatGalList();
                    }
                });
            }
        }
    </script>
}