
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a href="@BAL.Common.GetSectionString("WebsiteURL", "")subcategory/index/@ViewBag.CategoryID"><img alt="Back to Sub Categories" title="Back to Sub Categories" src="~/img/back.png" border="0" style="border:none;" /></a> |
    <a href="@BAL.Common.GetSectionString("WebsiteURL", "")subcatgallery/create/@ViewBag.SubCategoryID/@ViewBag.CategoryID"><img alt="Create New Sub Cat Gallery" title="Create New Sub Cat Gallery" src="~/img/create.png" border="0" style="border:none;" /></a>
</p>

<div id="loading-image" class="text-center">
    <img src="~/img/loader.gif" />
</div>

<div id="divSubCatGalList"></div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            // Bind the Sub Cat Gallery List on Page Load
            LoadSubCatGalList();
            $('#successMessage').delay(5000).fadeOut('slow');
        });

        // Load Sub Cat Gallery List Table
        function LoadSubCatGalList() {
            // Listing Table Hide till loading...
            $('#divSubCatGalList').hide();

            // Loader Show till Listing Table loading...
            $('#loading-image').show();

            // Ajax Call
            $.ajax({
                type: 'GET',
                url: '/subcatgallery/bindlist?id=' + @ViewBag.SubCategoryID + '&catid='+ @ViewBag.CategoryID,
                success: function (result) {
                    $('#divSubCatGalList').html(result);
                    $('#divSubCatGalList').show();
                    $('#loading-image').hide();
                }
            });
        }

        function SetDefaultImage(subcatgalid, subcatid, catid) {
            // Listing Table Hide till loading...
            $('#divSubCatGalList').hide();

            // Loader Show till Listing Table loading...
            $('#loading-image').show();

            // Ajax Call
            $.ajax({
                type: 'GET',
                url: '/subcatgallery/SetDefaultImage?id=' + subcatgalid + '&subcatid=' + subcatid + '&catid=' + catid,
                success: function (result) {
                    $('#divSubCatGalList').html(result);
                    $('#divSubCatGalList').show();
                    $('#loading-image').hide();
                }
            });
        }
    </script>
}