@{
    ViewData["Title"] = "Index";
}

<h1>Sub Category Gallery</h1>

<p>
    <a href="@BAL.Common.WEBSITEPATH/subcategory/index/@ViewBag.CategoryID"><customicon type="back" title="Back to Sub Categories"></customicon></a> |
    <a href="@BAL.Common.WEBSITEPATH/subcatgallery/create/@ViewBag.SubCategoryID/@ViewBag.CategoryID"><customicon type="add" title="Create New Sub Category Gallery"></customicon></a>
</p>

<div id="loading-image" class="text-center">
    <img src="~/img/loader.gif" />
</div>
<input type="hidden" id="hdnSubCategoryID" value="@ViewBag.SubCategoryID" />
<input type="hidden" id="hdnCategoryID" value="@ViewBag.CategoryID" />

<div id="divSubCatGalList"></div>

@section scripts{
    <script src="~/js/subcatgallery/index.js" asp-append-version="true"></script>
}