@model BAL.ViewModels.Product.ProductSizeViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

    <h1>Product Size Details</h1>

<div>
    <a asp-action="Index"><customicon type="back" title="Back to Product Sizes"></customicon> </a> |
    <a href="@BAL.Common.WEBSITEPATH/product/productsize/edit/@Model.ProductSizeID"><customicon type="edit" title="Edit Product Size"></customicon></a> |
    <a href="@BAL.Common.WEBSITEPATH/product/productsize/delete/@Model.ProductSizeID" onclick="return confirm('Do you want to delete this record?')"><customicon type="delete" title="Delete Product Size"></customicon></a>
</div>

<div>    
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.ProductSizeName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.ProductSizeName)
        </dd>
    </dl>
</div>