
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
}

<h1>Product Images</h1>

<div>
    <a asp-action="Index" asp-controller="product" asp-area="product"><customicon type="back" title="Back to Products"></customicon> </a>    
</div>
