<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2020 - EcoTechDoor Admin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>