<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("_Header")
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @await Html.PartialAsync("_Menu")
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("_Footer")
    @RenderSection("Scripts", required: false)
</body>
</html>