<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("_Header")
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @await Html.PartialAsync("_Menu")
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @await Html.PartialAsync("_Footer")

    @if ((((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ControllerName.ToLower() == "subcatgallery") &&
   ((Microsoft.AspNetCore.Mvc.Controllers.ControllerActionDescriptor)ViewContext.ActionDescriptor).ActionName.ToLower() == "index")
    {
        <!-- jQuery -->
        <script src="~/js/jquery-3.5.1.js"></script>
        <!-- Image Popup JS -->
        <script src="~/js/jquery.image-popup.js"></script>
    }
    else
    {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    }

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>