@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-3 border-right">
        @await Html.PartialAsync("~/Views/Shared/_ProductMenu.cshtml")
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>
        