@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2 border-right">
        @await Html.PartialAsync("~/Views/Shared/_ProductMenu.cshtml")
    </div>
    <div class="col-md-10">
        @RenderBody()

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        
        @RenderSection("Scripts", required: false)
    </div>
</div>
        