@{
    Layout = null;
}
    <div id="divProduct">
        <h1>All Products</h1>

        <p>
            <a asp-action="Create" asp-controller="Product" asp-area="Product"><customicon type="add" title="Create New Product"></customicon></a>
        </p>

        <div style="padding-bottom:15px;" class="text-danger font-weight-bold">
            <div id="successMessage"></div>
        </div>

        <div class="form-actions no-color">
            <p>
                Find Products By Details: <input type="text" maxlength="500" id="searchText" name="search" value="@ViewData["currentFilter"]" />
                <input type="button" value="Search" class="btn btn-secondary" onclick="LoadProductsList(false);" /> |
                By Product Code: <input type="text" maxlength="500" id="searchProductCodeText" name="search" />
                <input type="button" value="Search" class="btn btn-secondary" onclick="LoadProductsByCode(false);" />
                <a id="lnkSearch" href="javascript:void(0);" onclick="LoadProductsList(true);">Show All Products</a>
            </p>
        </div>
        <div id="loading-image" class="text-center">
            <img src="~/img/loader.gif" />
        </div>
        <div id="productsResult"></div>
    </div>